USE [borsa]
GO
/****** Object:  Table [dbo].[moneyAssets]    Script Date: 14.04.2025 16:05:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moneyAssets](
	[mail] [varchar](50) NOT NULL,
	[try] [money] NULL,
	[usd] [money] NULL,
	[eur] [money] NULL,
	[gbp] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 14.04.2025 16:05:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[surname] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[password] [varchar](64) NOT NULL,
	[verification_code] [varchar](6) NULL,
	[is_verified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [name], [surname], [mail], [phone], [password], [verification_code], [is_verified]) VALUES (9, N'Muhammet Avni', N'Küçükzade', N'avnikucukzade@icloud.com', N'05366902746', N'8230f14e94cf2ac46190d682adeb9165aea3a97be87b3ee2ac0dd56d62538bdc', N'547211', 1)
INSERT [dbo].[users] ([id], [name], [surname], [mail], [phone], [password], [verification_code], [is_verified]) VALUES (10, N'Ege', N'Kefeli', N'egekefeli@gmail.com', N'64654946496', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'481556', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
